<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ajouter un Médias</title>
</head>
<body>
    <h2>Ajouter un Média</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="titre">Titre :</label>
        <input type="text" id="titre" name="titre" required>
        <label for="type">Type :</label>
        <select id="type" name="type">
            <option value="livre">Livre</option>
            <option value="cd">CD</option>
            <option value="dvd">DVD</option>
            <option value="jeu_de_plateau">Jeu de Plateau</option>
        </select>
        <button type="submit">Ajouter</button>
    </form>
    <a href="{% url 'liste_medias' %}">Retour à la liste des médias</a>
</body>
</html>
