<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ajouter un Emprunt</title>
</head>
<body>
    <h2>Ajouter un Emprunt</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="membre">Membre :</label>
        <select id="membre" name="membre" required>
            {% for membre in membres %}
                <option value="{{ membre.id }}">{{ membre.nom }}</option>
            {% endfor %}
        </select>
        <label for="media">Média :</label>
        <select id="media" name="media" required>
            {% for media in medias %}
                <option value="{{ media.id }}">{{ media.titre }}</option>
            {% endfor %}
        </select>
        <button type="submit">Ajouter</button>
    </form>
    <a href="{% url 'liste_emprunts' %}">Retour à la liste des emprunts</a>

</body>
</html>